/* *************************WHOLE SITE***************************** */
body {
    background-color: rgb(30, 30, 30);
    color: rgb(234, 247, 253);
    font-family: "Montserrat";
    font-size: 15px;
    line-height: 2rem;
    padding: 0 20px;
    position: relative;
    text-align: center;
}

hr {
    background-color: transparent;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: dotted gray 20px;
    width: 15%;
    margin: 10% auto;
    /* border-top: dotted; */
    /* border-width: 20px; */
}

section {
    padding: 0 10%;
}

.section-title {
    margin-bottom: 40px;
}
.social-icons a {
    color: white;
}
/* ***********NAVBAR*********** */
nav {
    margin-bottom: 10%;
}

.nav-head {
    padding-top: 10px;
}

nav h1 {
    font-family: "Ubuntu";
    text-align: left;
}

nav ul {
    text-align: right;
}

nav li {
    display: inline-block;
    margin: 0 2%;
}

nav li:hover {
    text-decoration: underline rgb(197, 187, 187);
    text-decoration-thickness: 7px;
}

nav a {
    color: rgb(213, 226, 238);
    text-decoration: none;
    font-size: 1.2rem
}

nav a:hover {
    color: white;
}


/* ***********HOME*********** */

.top-quote {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    line-height: 6rem;
    margin-bottom: 10%;
}
figcaption {
    margin-top:5%;
}
div#background-img {
    background-image: url(../images/gym-man-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    /* width: 100vw; */
}

#background-img-personal {
    background-image: url(../images/dumbells-background.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    opacity: 0.7;
}

#background-img-class {
    background-image: url(../images/man-gym-dark.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    opacity: 0.7;
}

/* ***********SERVICES*********** */
.card{
    background-color: rgb(30, 30, 30) !important;
    margin-bottom: 10%;
}

.card-head {
    color: darkgrey;
    font-size: 1.3rem;
    font-weight: bold;
}

.card-img img {
    display: block;
    width: 50%;
}


/* ***********FOOTER*********** */
footer {
    margin-top: 10%;
}
.fa-brands {
    font-size: 34px;
    margin-right: 10px;
}


/* *************************PERSONAL TRAINER PAGE***************************** */
.carousel {
    background-color: rgb(44, 43, 43);
    border-radius: 10px;
}

.carousel p {
    font-size: 16px;
}

/* *************************CLASS SCHEDULE PAGE***************************** */
#schedules {
    padding: 0 10%;
}

#schedules h2 {
    color: darkgrey;
    font-size: 5rem;
    font-weight: bold;
}

#schedules .contain {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
p.class-description {
    border: 1px solid rgb(72, 69, 69);
    border-radius: 10px;
    font-family: ubuntu;
    padding: 1% 25%;
}
div .trainer-side {
    display: inline-block;
    height: 100%;
}
div .schedule-side {
    display: inline-block;
}
.sch {
    margin-bottom: 3rem;
}

span .sch-period {
    display: block;
}

#top-text {
    padding-bottom: 5%;
}

.trainer-name {
    color: darkgrey;
    font-size: 2rem;
    font-weight: bold;
}


/* *************************CONTACT US PAGE***************************** */
#contact-us {
    padding: 0 10%;
}

#contact-form {
    border: 1px solid;
    border-color: rgb(63, 66, 69);
    border-radius: 8%;
    margin: 0 auto;
    padding: 2%;
    padding-top: 5%;
    text-align: left;
    width: 500px;
}

#contact-form .btn:hover {
    background-color: rgb(28, 28, 29);
}

#contact-form label {
    font-size: 1rem;
}

#contact-form input, textarea {
    border: 1px solid rgb(47, 53, 51);
    border-radius: 10px;
    color: rgb(228, 232, 235);
    display: block;
    background-color: rgb(53, 59, 64);
    margin-bottom: 5%;
    width: 100%;
}


/* *************************ABOUT US PAGE***************************** */

.employee-txt {
    margin-bottom: 10%;
}
